################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RealState/realstate/.vs/realstate
/RealState/realstate/bin/Debug/net5.0
/RealState/realstate/obj
