
@using realstate.utility;
<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("head", required: false)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - realstate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">realstate</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @{
                        await Html.RenderPartialAsync("_LoginPartial");
                    }
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="AdminPanel" asp-controller="Plot" asp-action="PlotsWithPagination"><i class="fa-solid fa-house"></i></a>
                        </li>
                        @* <li class="nav-item">
                                <a class="nav-link" asp-area="AdminPanel" asp-controller="Location" asp-action="Index">List Location</a>
                            </li>*@
                        @if (User.IsInRole(SD.VerifiedUser) || User.IsInRole(SD.AdminUser) || User.IsInRole(SD.RegisteredUser))
                        {
                            <li class="nav-item text-dark dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Content Management
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @if (User.IsInRole(SD.AdminUser))
                                    {
                                        <a class="dropdown-item" asp-area="AdminPanel" asp-controller="VerifiedUser" asp-action="index"><i class="fa-solid fa-users"></i>  Users</a>
                                    }
                                    @if (User.IsInRole(SD.AdminUser))
                                    {
                                        <a class="dropdown-item" asp-area="AdminPanel" asp-controller="Location" asp-action="index"><i class="fa-solid fa-earth-americas"></i> Locations</a>
                                        <a class="dropdown-item" asp-area="AdminPanel" asp-controller="Society" asp-action="index"><i class="fa-solid fa-location-pin"></i> Societies</a>
                                    }



                                    <a class="dropdown-item" asp-area="AdminPanel" asp-controller="Plot" asp-action="index"><i class="fa-solid fa-clone"></i> My Posts</a>



                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>


                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - realstate -
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/7aef066700.js" crossorigin="anonymous"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
