
@using realstate.utility;
<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("head", required: false)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - realstate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body style="margin-bottom:0px">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">realstate</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @{
                        await Html.RenderPartialAsync("_LoginPartial");
                    }
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="AdminPanel" asp-controller="Plot" asp-action="PlotsWithPagination"><i class="fa-solid fa-house"></i></a>
                        </li>
                        @* <li class="nav-item">
                                <a class="nav-link" asp-area="AdminPanel" asp-controller="Location" asp-action="Index">List Location</a>
                            </li>*@
                        @if (User.IsInRole(SD.VerifiedUser) || User.IsInRole(SD.AdminUser) || User.IsInRole(SD.RegisteredUser))
                        {
                            <li class="nav-item text-dark dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Content Management
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @if (User.IsInRole(SD.AdminUser))
                                    {
                                        <a class="dropdown-item" asp-area="AdminPanel" asp-controller="VerifiedUser" asp-action="index"><i class="fa-solid fa-users"></i>  Users</a>
                                    }
                                    @if (User.IsInRole(SD.AdminUser))
                                    {
                                        <a class="dropdown-item" asp-area="AdminPanel" asp-controller="Location" asp-action="index"><i class="fa-solid fa-earth-americas"></i> Locations</a>
                                        <a class="dropdown-item" asp-area="AdminPanel" asp-controller="Society" asp-action="index"><i class="fa-solid fa-location-pin"></i> Societies</a>
                                    }



                                    <a class="dropdown-item" asp-area="AdminPanel" asp-controller="Plot" asp-action="index"><i class="fa-solid fa-clone"></i> My Posts</a>



                                  
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="">

            @RenderBody()
        </main>
    </div>
    <style>
        footer {
            clear: both;
            position: relative;
            height: 200px;
            margin-top: -200px;
        }
    </style>
    <div class="row bg-primary bg-opacity-10" style="margin-top:600px" >
        <!-- Footer -->
        <footer class="page-footer font-small blue pt-4">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">

                        <!-- Content -->
                        <h5 class="text-uppercase">About US</h5>
                        <p>
                            At Realstate.com, we understand that people everywhere are searching for a Plot to build their own home. We want to make this search as joyful as finally finding the perfect place because we understand that finding a place is much more than an online search!

                        </p>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Career</a>
                            </li>
                            <li>
                                <a href="#!">Send us Email</a>
                            </li>
                            <li>
                                <a href="#!">Follow us</a>
                            </li>
                            <li>
                                <a href="#!">Our Clients</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                            <li>
                                <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                            <li>
                                <a asp-area="AdminPanel" asp-controller="Plot" asp-action="Upsert" >Add Post</a>
                            </li>
                            <li>
                                <a  asp-area="AdminPanel" asp-controller="Plot" asp-action="PlotsWithPagination">Post</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->
            <!-- Copyright -->

            <!-- Copyright -->

        </footer>
    </div>
    <!-- Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/7aef066700.js" crossorigin="anonymous"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
