@model realstate.models.ViewModels.VMModels.AddPlotAndPhotos;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Add Plot";
}
@{
    await Html.RenderPartialAsync("BreadCrumbPartialView", new string[] {"MyPosts","AddPost" });
}
<form method="post" enctype="multipart/form-data">
    <div class="row  border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Block">Block</label>
                </div>
                <div class="col-8">
                    <input asp-for="Block" class="form-control" />
                    <span asp-validation-for="Block" class="text-danger"></span>
                </div>
            </div> @*Block*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CompleteAddress">Complete Address</label>
                </div>
                <div class="col-8">
                    <input asp-for="CompleteAddress" class="form-control" />
                    <span asp-validation-for="CompleteAddress" class="text-danger"></span>
                </div>
            </div> @*CompleteAddress*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PlotSize">Plot Size</label>
                </div>
                <div class="col-4">
                    <input asp-for="PlotSize" class="form-control" />
                    <span asp-validation-for="PlotSize" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label class="form-control">Marla</label>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div> @*PlotSize*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price">Price</label>
                </div>
                <div class="col-4">
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label class="form-control">PKR</label>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div> @*Price*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description">Description</label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div> @*Description*@
            <div class="form-group row">
                <div class="col-4">
                    Available Societies
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(x => x.SocietyId, Model.allSocieties, "--Available Societies--", new { @class = "form-control" })
                    <span asp-validation-for="SocietyId" class="text-danger"></span>



                </div>
            </div> @*SelectingSociety*@
            <div class="form-group row">
                <div class="col-4">
                    PostType
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(x => x.Type, Model.PostType, "Choose Post Type", new { @class = "form-control" })
                    <span asp-validation-for="Type" class="text-danger"></span>



                </div>
            </div> @*SelectingSociety*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ImagePaths">Add Plot Images</label>
                </div>
                <div class="col-8">

                    <input asp-for="ImagePaths" type="file" multiple name="postedFiles" class="form-control" />
                    <span asp-validation-for="ImagePaths" class="text-danger"></span>
                </div>
            </div> @*SelectImages*@
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-outline-primary form-control">Add Plot</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-outline-success form-control">Back</a>
                        </div>
                    </div>
                </div>
            </div> @*Submit*@
        </div>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
